/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Page Styles */

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
    background-color: #f7f7f7;
    color: #222;
} 

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

figure {
    text-align: center;
    margin:20px auto;
}

figcaption {
    font-size: 0.9rem;
    color: 555;
    margin-top: 5px;
}



   
   




    


