/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Page Styles */

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
    background-color: #f7f7f7;
    color: #222;
} 
aaa

    


